Makefile
inc/
META.yml
Makefile
blib/
inc/
pm_to_blib
*.sw[po]
^\.git/
MANIFEST.bak
*.old
MANIFEST
MYMETA.yml
MYMETA.json

/App-Monitor-Simple-*
/.build
/_build*
/_build_params
/Build
/Build.bat
!Build/
!META.json
!LICENSE
minil.toml
